<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <title>Blogsite</title>
  </head>

  <body>
    <!-- navbar -->
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light bg-light px-4 pt-3"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:index' %}">BlogSite</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 gap-lg-2">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'blog:index' %}"
                >Blogs</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'blog:topBlogs' %}"
                >TopBlogs</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'blog:announcements' %}"
                >Announcements</a
              >
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
            {% if request.user.is_authenticated %}
            <li
              class="nav-item border border-dark border-2 rounded-pill py-1 px-3 me-4 text-decoration-underline"
              ><a
                class="text-decoration-none text-black fw-normal"
                href="{% url 'blog:createBlog' %}"
                >Create Blog
                <img
                  src="https://img.icons8.com/material-rounded/15/000000/pencil--v1.png" /></a
            ></li>
            {% endif %}

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="true"
              ></a>
              {% if request.user.is_authenticated %}
              <ul
                class="dropdown-menu dropdown-menu-end px-2"
                aria-labelledby="navbarDropdown"
              >
                <li
                  ><a class="dropdown-item" href="{% url 'blog:my_blogs' %}"
                    >My Blogs</a
                  ></li
                >
                <li
                  ><a class="dropdown-item" href="{% url 'blog:profile' %}"
                    >My Profile</a
                  ></li
                >
                <li
                  ><a class="dropdown-item" href="{% url 'blog:logout' %}"
                    >Logout</a
                  ></li
                >
              </ul>
              {% else %}
              <ul
                class="dropdown-menu dropdown-menu-end px-2"
                aria-labelledby="navbarDropdown"
              >
                <li
                  ><a class="dropdown-item" href="{% url 'blog:login' %}"
                    >Login</a
                  ></li
                >
                <li
                  ><a class="dropdown-item" href="{% url 'blog:register' %}"
                    >Sign Up</a
                  ></li
                >
              </ul>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- body -->
    <div class="bg-light p-5 mt-5 rounded-lg m-3 min-vh-100">
      {% block body_block %}{% endblock body_block %}
    </div>

    <!-- js link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
