{% extends 'blog/base.html' %} {% block body_block %} {% for blog in blog_list%}
<div id="{{blog.id}}">
    <div class="px-5 py-3 border border-dark border-3 rounded-3 mb-3">
        <div class="d-flex px-3 align-items-center" style="font-family: serif">
            <h6>Published by: <h6 class="fw-bold ms-2"> {{blog.author}}</h6>
            </h6>
            <div class="d-block ms-auto">
                <h6 class="ms-auto align-middle">Publish Date: {{blog.publish_date}}
            </div>
        </div>
        <hr class="pt-0 mt-0" />
        <div class="mx-5">
            <h2 class="display-5 fw-normal"> {{ blog.title }} </h2>
            <div class="px-5 my-4">
                {% if blog.blog_image %}
                <img class="img-thumbnail rounded rounded-3" src="{{ blog.blog_image.url }}" width="40%" height="40%"
                    alt="..." />
                {% endif %}
                <p class="fs-5"> {{ blog.description }} </p>
            </div>
        </div>
        <div class="d-flex mx-5 mt-1 mb-3 p-0 align-items-center">
            <!-- like button -->
            <a href="{% url 'blog:likePost' likeId=blog.id %}">
                <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png" />
            </a>
            <p class="fw-bold my-auto ms-1">{{ blog.likes }}</p>
        </div>
    </div>
</div>
{% endfor %} {% endblock body_block %}