{% extends 'blog/base.html' %} {% block body_block %}
<h1 class="mb-4 fw-bold">
    {% if blog.id %}
    Edit Post
    {% else %}
    New Post
    {% endif %}
</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success px-3" type="submit" value="Save" />
        <a class="btn btn-danger" href="{% url 'blog:my_blogs' %}">Cancel</a>
    </form>
</div>

{% endblock body_block %}